:root {
    --primary-color: #0054A4;
    --secondary-color: #E8F3FC;
    --prim-sec-gradient-color: linear-gradient(to right, #0054A4, #E8F3FC);
    --text-color: #000;
    --taxes: #535353;
    --student-loans: #940000;
    --housing: #1D84AC;
    --essentials: #3BB255;
    --lifestyle: #BFB21E;
    --future-proofing: #6B13B9;
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Roboto Condensed', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

nav {
    background-color: #0054A4;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 12px 15px;
    background-color: #0054A4;
    font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
    text-decoration: underline;
    background-color: #075198;
    transition: 0.3;
}

h1 {
    font-size: 40px;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 45px;
    font-weight: normal;
}

main {
    background-color: #E8F3FC;
    width: math(100% - 140px);
    height: 600px;
    padding: 50px 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.navigation {
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150%;
    margin-top: auto;
    margin-bottom: 25px;

}

.inputs {
    background-color: white;
    border-top: 10px solid #0054A4;
    width: calc(100% * 5/9);
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.progress {
    max-width: 81.25%;
    align-self: auto;
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 25px;
}

.sky-blue {
    background-color: #E8F3FC;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    font-size: 36px;
}

.blue {
    background-color: #0054A4;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    font-size: 36px;
}


[id^="line"] {
    width: 75px;
    height: 5px;
    display: inline-block;
    align-self: center;
}

.full {
    background: var(--primary-color);
}

.half {
    background: var(--prim-sec-gradient-color);
}

.none {
    background: var(--secondary-color);
}

#current-page {
    display: grid;
    grid-template-areas: "title ."
        "search value";
    column-gap: 70px;
    margin-left: 7.25%;

    & h3 {
        grid-area: title;
        font-size: 32px;
        font-weight: normal;
        margin: 25px 0px 25px 50px;
    }

    & [id$="selector"] {
        grid-area: search;
        background: #0054A4;
        width: auto;
        height: 50px;
        padding: 5px 37px;
        color: #FFF;
        text-align: left;
        font-size: 24px;

        & option {
            font-size: 16px;
        }
    }

    & label {
        grid-area: value;
        gap: 10px;
        display: flex;
        width: 214px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background: #E8F3FC;
        border: 2px solid #0054A4;
        box-sizing: border-box;
        color: #000;
        font-size: 24px;
    }


}

.back,
.next {
    background: #0054A4;
    color: white;
    display: flex;
    width: 150px;
    height: 50px;
    padding: 5px 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.output {
    background-color: white;
    border-top: 10px solid #0054A4;
    width: calc(100% * 5/18);
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: auto;

    /* grid-template-areas: "title title"
                         "graph graph"
                         "stats arrow"; */
    & h3 {
        margin: 20px;
        grid-area: title;
        text-align: center;
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & .graph {
        grid-area: graph;
        align-self: center;
        justify-self: center;
    }

    & .stats {
        grid-area: stats;
    }

    & .arrow {
        grid-area: arrow;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.stats-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;

    & .arrow {
        width: 48px;
        height: 48px;
        margin-right: 30px;
    }

}

.graph {
    width: 200px;
    height: 200px;
}

.stats ul li {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

#net-income-bullet {
    list-style: none;
    margin-top: 0px;
}

#taxes-bullet {
    margin-top: 50px;
}

#taxes-bullet::marker {
    color: var(--taxes);
}

#student-loans-bullet::marker {
    color: var(--student-loans);
}

#housing-bullet::marker {
    color: var(--housing);
}

#essentials-bullet::marker {
    color: var(--essentials);
}

#lifestyle-bullet::marker {
    color: var(--lifestyle);
}

#future-proofing-bullet::marker {
    color: var(--future-proofing);
}

.scrollable {
    width: 75%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    border: none;
    font-size: 36px;
}

.scrollable::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.job-options {
    font-size: 20px;
}

canvas {
    width: 250px;
    height: 250px;
}